
main{
    margin: 0px 0px 0px 230px;
}
main p{
    position: absolute;
    left: 56%;
}


form{
    font-size: 17px;
}

form label{
    display: block;
    font-size:20px;
    margin: 0 0 20px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%
}

.enviar{
    font-size: 17px;
    color: aliceblue;
    font-weight: bold;
    background: #8B4513;
    border: 4px solid darkorange;
    border-radius: 10px;
}

.enviado{
    font-size: 17px;
    color: black;
    font-weight: bold;
    background: green;
    border: 4px solid lightgreen;
    border-radius: 10px;
}

.subcaixamain{
    margin: 0px 0px 0px 930px;
    display: inline; 
    
}

.pmain{
    font-size: 1.2em;
    text-align: center;

    
}
